@charset "UTF-8";

body {
    background-image: linear-gradient(to top, rgb(223, 253, 253), rgb(220, 255, 255)); 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgba(31, 122, 122, 0.966);
    text-align: center;
}

h2 {
    color: #008080;
    text-align: center;
}

p {
    text-align: center;
}