.btns {
    text-align: center;
    margin-top: 10px;
}

.efeito {
    border: none;
    color: white;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1 {
    background-color: #28348a;
}

.efeito-1:before {
    content: ''; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 45px;
    background: rgba(255,255,255,0.3);
    border-radius: 10px;
    transition: all 2s ease;
}

efeito-1:hover:before {
    width: 100%;
}