.btns {
    text-align: center;
    margin-top: 10px;
}

.efeito {
    border: none;
    color: white;
    padding: 15px;
    margin: 10px;
    font-size: 15px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1 {
    background: #28348a;
}

.efeito-1:hover {
    background: rgba(0,0,0,0);
    color: #28348a;
    box-shadow: inset 0 0 0 3px #28348a;    
}