@charset "UTF-8";

body {
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgba(6, 110, 141, 0.966);
    text-align: center;
}

h2 {
    color: #008080;
    text-align: center;
}

p {
    text-align: center;
}