*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
body {
    background-color: cornsilk;

}

main {
    background-color: azure;
    width: 565px;
    margin: auto;
    padding: 12px;
    box-shadow: 3px 3px 7px black;
}

h1 {
    font-size: 2em;
    color: rgb(61, 57, 57);
}